<div class="login-container">
  <div class="login-box">
    
    <!-- Image Section -->
    <div class="login-left">
      <img src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Rocket">
    </div>
    
    <!-- Login Form Section -->
    <div class="login-right">
      
      <!-- Logo and Heading -->
      <div class="logo-container">
        <div class="logo">
          <img src="assets/logo.png" alt="Logo">
        </div>
        <h1>Teachewave</h1>
      </div>
      
      <h2 class="form-heading">Login</h2>
      
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input 
            type="email" 
            formControlName="email" 
            placeholder="Email" 
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
          <div *ngIf="submitted && f['email'].errors" class="error-message">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>
        
        <div class="form-group">
          <input 
            type="password" 
            formControlName="password" 
            placeholder="Password" 
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
          <div *ngIf="submitted && f['password'].errors" class="error-message">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
          </div>
        </div>
        
        <div class="login-options">
          
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>
        
        <button type="submit" class="login-button" [disabled]="loading">
          <ng-container *ngIf="loading">
            <div class="spinner"></div>
          </ng-container>
          <ng-container *ngIf="!loading">
            Login
          </ng-container>
        </button>
        
        <div *ngIf="error" class="error-message global-error">{{ error }}</div>
      </form>
      
      <div class="social-login">
        <p>Or you can join with</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
        </div>
      </div>
      
      <div class="register-link">
        Don't have an account? <a href="#">Register Now</a>
      </div>
      
    </div>
    
  </div>
</div>





  
