/* Conteneur principal pour le formulaire de mise à jour du profil */
.update-profile-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Styles pour le formulaire de mise à jour */
  .update-profile-form {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Conteneur pour la photo de profil */
  .profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 35%;
    border-color: #000000;
  }
  
  /* Effet de survol sur le cercle de photo de profil */
  .profile-pic:hover {
    background-color: rgba(0, 0, 0, .5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
  }
  
  /* Styles pour les éléments à l'intérieur du cercle */
  .profile-pic span {
  
    padding-top: 4.5em;
    padding-bottom: 2.5em;
    color: #ffffff;
    font-size: 15px; /* Taille de l'icône */
  }
  
  /* Masquer l'input de fichier */
  .update-profile-form input[type="file"] {
    display: none;
    cursor: pointer;
  }
  
  /* Styles pour les labels et les champs de formulaire */
  .update-profile-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .update-profile-form input,
  .update-profile-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Styles pour les boutons */
  .update-profile-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  /* Styles spécifiques pour le bouton de mise à jour */
  .btn-update {
    background-color: #6a9cfd;
  }
  
  /* Styles spécifiques pour le bouton d'annulation */
  .btn-cancel {
    background-color: #ff6b6b;
  }
  