<section class="about-us">
    <h1 class="about-title">À Propos de Nous</h1>
    <p class="about-description">Découvrez l'histoire, la mission et la vision de TeachWave.</p>
  
    <div class="about-section card">
      <div class="text">
        <h2>Notre Mission</h2>
        <p>Notre mission chez TeachWave est de fournir une plateforme où les enseignants peuvent monétiser leurs compétences et créer une expérience d'apprentissage engageante pour les étudiants. Nous croyons en la valeur de la connaissance partagée et souhaitons offrir aux enseignants un espace où ils peuvent transformer leur passion en métier tout en permettant aux étudiants d’apprendre à leur rythme.</p>
  
      </div>
      <div class="image">
        <img src="assets/images/collegues-etudiant-ensemble-pendant-etude-groupe_23-2149211081.jpg" alt="Notre mission">
      </div>
    </div>
  
    <div class="about-section card reverse">
      <div class="text">
        <h2>Notre Vision</h2>
        <p>Chez TeachWave, nous envisageons un monde où chaque expert, quel que soit son domaine, peut enseigner et transmettre ses connaissances à travers une plateforme intuitive. Nous voulons démocratiser l’accès à l’éducation en créant un écosystème où les enseignants et les étudiants se connectent directement, sans intermédiaires. En mettant les outils nécessaires à disposition des enseignants, nous créons une communauté où l’apprentissage devient plus accessible, interactif et personnalisé.</p>
      </div>
      <div class="image">
        <img src="assets/images/virtual-graduation-ceremony-with-students-computer_23-2148568232.jpg" alt="Notre vision">
      </div>
    </div>
  
    <div class="about-section card">
      <div class="text">
        <h2>Notre Impact</h2>
      <p>Depuis son lancement, TeachWave a permis à des centaines d’enseignants de transformer leur passion en une véritable source de revenus. Du côté des étudiants, nous avons permis à plus de 10 000 apprenants de trouver des cours adaptés à leurs objectifs, que ce soit pour leur carrière, leur développement personnel ou simplement pour le plaisir d’apprendre. Chaque transaction sur notre plateforme contribue à enrichir l’écosystème éducatif mondial.</p>
    </div>
      <div class="image">
        <img src="assets/images/portrait-groupe-etudiants-celebrant-leur-remise-diplomes_23-2148201866.jpg" alt="Notre impact">
      </div>
    </div>
</section>
