<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">teachwave</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">page d'acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToaboutus()">Qui sommes-nous ?</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          catégories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">dévellopment</a>
          <a class="dropdown-item" href="#">data science </a>
          
          <a class="dropdown-item" href="#">sciences</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Inscription</a>
      </li>
      
    </ul>
    <div class="search-box">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search" placeholder="Type to Search...">
    </div>
    
    
    
  </div>
</nav>
