<div class="cart-container">
    <h2>Mon Panier</h2>
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="item-info">
        <h3>{{ item.name }}</h3>
        <p><i class="fas fa-tag icon"></i> Prix: {{ item.price }}DT</p>
        
      </div>
      <button class="remove-btn" (click)="removeItem(item.id)">
        <i class="fas fa-trash-alt icon"></i>
      </button>
    </div>
    <hr />
    <div class="cart-summary">
      <h3>Total du Panier: {{ total  }}DT</h3>
      <button (click)="navigateToPayement()">Passer à la caisse</button>
    </div>
  </div>
  
  
